<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<!-- List of plants -->
<div class="container">
  <div class="row">
    <% @garden.plants.each do |plant| %>
      <div class="col-4">
        <%= render "plants/card", plant: plant %>
      </div>
    <% end %>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add a plant</h5>
          <%= link_to "Add plant", new_garden_plant_path(@garden) %>
        </div>
      </div>
    </div>
  </div>
</div>
